<p><%= @resource.email %>さん</p>

<p>パスワード再設定を受付ました。以下のリンクから新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワード再設定ページ', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、あなたがこのメールを要求していない場合はお手数ですがメールを削除してください。</p>
<p>上記リンクから処理を行わなえればパスワードは変更されません。</p>


